<html lang="es">
<head>
</head>
<body>
    <style>
        label {
            display: block;
            margin-bottom: 8px;
            font-size: 16px;
            color: #333; 
        }       
        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            font-size: 14px;
            color: black;
            background-color: rgb(201, 245, 245);
        }
    </style>
    <section id="preferencias-cuenta">
        <h2>Cambiar contraseña</h2>
        
        <label for="current-password">Contraseña actual:</label>
        <input type="password" id="current-password" name="current-password" required>
        
        <label for="new-password">Nueva Contraseña:</label>
        <input type="password" id="new-password" name="new-password" required>
        
        <label for="confirm-password">Confirmar Nueva Contraseña:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
        
        <button id="boton_volver">Guardar Cambios</button>

        <button id="boton_volver" onclick="window.location.href = 'configuracion.html'">Volver</button>
</body>
</html>