{% extends "base.html" %}

{% block title %} Clientes {% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <nav>
        <a href="/home">Inicio</a>
        <a href="/inventario">Inventario</a>
        <a href="/productos">Productos</a>
        <a href="/ventas">Ventas</a>
        <a href="/proveedores">Proveedores</a>
        <a href="/clientes">Clientes</a>
        <a href="/configuracion">Configuración</a>
        <a href="{{ url_for('logout') }}"> 
            <i class="fas fa-sign-out-alt"></i> Salir
        </a>
    </nav>

    <section>
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#tabNewClient" class="mdl-tabs__tab is-active">Nuevo Cliente</a>
                <a href="#tabListClient" class="mdl-tabs__tab">Lista de clientes</a>
            </div>
            <div class="mdl-tabs__panel is-active" id="tabNewClient">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                        <div class="full-width panel mdl-shadow--2dp">
                            <div class="full-width panel-tittle bg-primary text-center tittles">
                                Nuevo Cliente
                            </div>
                            <div class="full-width panel-content">
                                <form id="clientForm" action="/cliente" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <h5 class="text-condensedLight">Información del cliente</h5>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="[0-9]{1,15}" id="DNIClient" name="DNIClient">
                                        <label class="mdl-textfield__label" for="DNIClient">Cédula</label>
                                        <span class="mdl-textfield__error">Número Inválido</span>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="-?[A-Za-záéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="NameClient" name="NameClient">
                                        <label class="mdl-textfield__label" for="NameClient">Nombres</label>
                                        <span class="mdl-textfield__error">Nombres Inválidos</span>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="-?[A-Za-záéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="LastNameClient" name="LastNameClient">
                                        <label class="mdl-textfield__label" for="LastNameClient">Apellidos</label>
                                        <span class="mdl-textfield__error">Apellido Inválido</span>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="addressClient1" name="addressClient1">
                                        <label class="mdl-textfield__label" for="addressClient1">Dirección</label>
                                        <span class="mdl-textfield__error">Dirección Inválida</span>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="tel" pattern="-?[0-9+()- ]*(\.[0-9]+)?" id="phoneClient" name="phoneClient">
                                        <label class="mdl-textfield__label" for="phoneClient">Teléfono</label>
                                        <span class="mdl-textfield__error">Número de Teléfono Inválido</span>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="email" id="emailClient" name="emailClient">
                                        <label class="mdl-textfield__label" for="emailClient">Correo Electrónico</label>
                                        <span class="mdl-textfield__error">Correo Electrónico Inválido</span>
                                    </div>
                                    <p class="text-center">
                                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addClient">
                                            <i class="zmdi zmdi-plus"></i>
                                        </button>
                                        <div class="mdl-tooltip" for="btn-addClient" id ="add">Añadir cliente</div>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-tabs__panel" id="tabListClient">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                        <div class="full-width panel mdl-shadow--2dp">
                            <div class="full-width panel-tittle bg-success text-center tittles">
                                Lista de clientes
                            </div>
                            <div class="full-width panel-content">
                                <form action="#">
									<br>
									<br>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
										<i class="zmdi zmdi-search" ></i>
                                        <label class="mdl-button mdl-js-button mdl-button--icon" for="searchClient">
                                        </label>
                                        <div class="mdl-textfield__expandable-holder">
                                            <input class="mdl-textfield__input" type="text" id="searchClient">
                                            <label class="mdl-textfield__label"style="margin-left: 10px;">Buscar cliente</label>
                                        </div>
                                    </div>
                                </form>
                                <div class="mdl-list">
                                    {% for cliente in clientes %}
                                        <div class="mdl-list__item mdl-list__item--two-line">
                                            <span class="mdl-list__item-primary-content">
                                                <i class="zmdi zmdi-account mdl-list__item-avatar"></i>
                                                <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;">Nombres: {{ cliente.nombres }} {{ cliente.apellidos }}</span>
                                                <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;">Identificación: {{ cliente.cedula }}</span>
                                                <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;">Teléfono: {{ cliente.telefono }}</span>
                                            </span>
                                            <a class="mdl-list__item-secondary-action" href="#!"><i class="zmdi zmdi-more"></i></a>
                                        </div>
                                        <li class="full-width divider-menu-h"></li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.getElementById("btn-addClient").addEventListener("click", function(event) {
            // Evita que el formulario se envíe automáticamente
            event.preventDefault();

            swal.fire({
                title: '¡Se guardó el cliente con éxito!',
                icon: 'success',
                confirmButtonText: 'OK',  // Cambiado el nombre del botón de confirmación
                showCancelButton: false,  // Ocultar el botón Cancelar
            }).then((result) => {
                // Envía manualmente el formulario solo si el usuario hizo clic en "OK"
                if (result.isConfirmed) {
                    document.getElementById("clientForm").submit();  // Envía el formulario con JavaScript
                }
            });

        });  // Agregado el cierre de la función addEventListener
    </script>
    
    <footer>
        <p>&copy; 2024 StockManager JyE</p>
    </footer>
</body>
</html>
{% endblock %}
