{% extends "base.html" %}

{% block title %} Clientes {% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body style="background-color: white;">
        <div class="mdl-layout mdl-js-layout">
    
            <!-- Navegación -->
        <nav class="mdl-navigation">
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-layout__drawer-button">
                <span class="gg-menu"></span>
            </button>
            <a id = "logoutLink" href="{{ url_for('logout') }}" style="margin-left: auto;"> 
                <i class="fas fa-sign-out-alt"></i> Salir
            </a>
        </nav>
        
            
            
            <div class="mdl-layout__drawer">
                
                <i class="mdi--user-tie"></i>
                <center><span class="mdl-layout-title" style="margin-bottom:10px;">{{ current_user.fullname }}</span></center>		
                <nav class="mdl-navigation">
                    <a href="/home">Inicio</a><br>
                    <br>
                    <a href="/productos">Productos</a><br>
                    <br>
                    <a href="/ventas">Ventas</a><br>
                    <br>
                    <a href="/proveedores">Proveedores</a><br>
                    <br>
                    <a href="/clientes">Clientes</a><br>
                    <br>
                    <a href="/configuracion">Configuracion</a><br>
                </nav>
            </div>
            <!-- Contenido principal -->
    <main class="mdl-layout__content">
    
    <section>
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#tabNewClient" class="mdl-tabs__tab is-active">Nuevo Cliente</a>
                <a href="#tabListClient" class="mdl-tabs__tab">Lista de clientes</a>
            </div>
            <div class="mdl-tabs__panel is-active" id="tabNewClient">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                        <div class="full-width panel mdl-shadow--2dp">
                            <div class="full-width panel-tittle bg-primary text-center tittles">
                                Nuevo Cliente
                            </div>
                            <div class="full-width panel-content">
                                <form id="clientForm" action="/cliente" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <h5 class="text-condensedLight">Información del cliente</h5>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="[0-9]{1,15}" id="DNIClient" name="DNIClient">
                                        <label class="mdl-textfield__label" for="DNIClient">Cédula</label>
                                        <span class="mdl-textfield__error">Número Inválido</span>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="-?[A-Za-záéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="NameClient" name="NameClient">
                                        <label class="mdl-textfield__label" for="NameClient">Nombres</label>
                                        <span class="mdl-textfield__error">Nombres Inválidos</span>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="-?[A-Za-záéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="LastNameClient" name="LastNameClient">
                                        <label class="mdl-textfield__label" for="LastNameClient">Apellidos</label>
                                        <span class="mdl-textfield__error">Apellido Inválido</span>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="addressClient1" name="addressClient1">
                                        <label class="mdl-textfield__label" for="addressClient1">Dirección</label>
                                        <span class="mdl-textfield__error">Dirección Inválida</span>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="tel" id="phoneClient" name="phoneClient">
                                        <label class="mdl-textfield__label" for="phoneClient">Teléfono</label>
                                        <span class="mdl-textfield__error">Número de Teléfono Inválido</span>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="email" id="emailClient" name="emailClient">
                                        <label class="mdl-textfield__label" for="emailClient">Correo Electrónico</label>
                                        <span class="mdl-textfield__error">Correo Electrónico Inválido</span>
                                    </div>
                                    <p class="text-center">
                                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addClient">
                                            <i class="zmdi zmdi-plus"></i>
                                        </button>
                                        <div class="mdl-tooltip" for="btn-addClient" id ="add">Añadir cliente</div>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-tabs__panel" id="tabListClient">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                        <div class="full-width panel mdl-shadow--2dp">
                            <div class="full-width panel-tittle bg-success text-center tittles">
                                Lista de clientes
                            </div>
                            <div class="full-width panel-content">
                                <form action="#">
									<br>
									<br>
                                    <i class="zmdi zmdi-search" id="searchIcon"></i>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                                        <label class="mdl-button mdl-js-button mdl-button--icon" for="searchClient">
                                        </label>
                                        <div class="mdl-textfield__expandable-holder">
                                            <input class="mdl-textfield__input" type="text" id="searchClient">
                                            <label class="mdl-textfield__label"style="margin-left: 10px;">Buscar cliente</label>
                                        </div>
                                    </div>
                                </form>
                                <div class="mdl-list">
                                    {% for cliente in clientes %}
                                    <div class="mdl-list__item mdl-list__item--two-line">
                                        <section class="cliente_tab" id="cliente_tab">
                                        <span>
                                            <section>
                                            <center><i class="zmdi zmdi-account mdl-list__item-avatar"></i></center>
                                            <br>
                                            <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;"> {{ cliente.nombres }} {{ cliente.apellidos }}</span>                                      
                                            </section>
                                            <section>
                                            <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;">Identificación: {{ cliente.cedula }}</span>
                                            <br>
                                            <br>
                                            <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;">Teléfono: {{ cliente.telefono }}</span>
                                            </section>                                    
                                            <section>
                                                <center>
                                                <button class="mdl-button mdl-js-button mdl-button--icon" onclick="showEditForm('{{ cliente.identificador_c }}')">
                                                    <i class="mdi--account-edit"></i>
                                                </button>
                                                <button class="mdl-button mdl-js-button mdl-button--icon" onclick="deleteClient('{{ cliente.identificador_c }}')">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>                                                                                                                                             
                                                <center>
                                            </section>
                                        </section>
                                        </span>                                                           
                                            <!-- Botón para mostrar el formulario de edición -->
                                    </div>
                                    <li class="full-width divider-menu-h"></li>
                                    <!-- Formulario de edición para cada cliente -->
                                    <form id="editForm{{ cliente.identificador_c }}" action="/editar_cliente" method="POST" style="display: none;">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <input type="hidden" name="cliente_id" value="{{ cliente.identificador_c }}">
                                    
                                        <!-- Campo de edición para nombres -->
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" name="edit_NameClient" id="edit_NameClient" value="{{ cliente.nombres }}">
                                            <label class="mdl-textfield__label" for="edit_NameClient">Nombres:</label>
                                            <span class="mdl-textfield__error">Nombres Inválidos</span>
                                        </div>
                                        <!-- Campo de edición para apellidos -->
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" name="edit_LastNameClient" id="edit_LastNameClient" value="{{ cliente.apellidos }}">
                                            <label class="mdl-textfield__label" for="edit_LastNameClient">Apellidos:</label>
                                            <span class="mdl-textfield__error">Apellido Inválido</span>
                                        </div>
                                        <!-- Campo de edición para dirección -->
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" name="edit_addressClient" id="edit_addressClient" value="{{ cliente.direccion }}">
                                            <label class="mdl-textfield__label" for="edit_addressClient">Dirección:</label>
                                            <span class="mdl-textfield__error">Dirección Inválida</span>
                                        </div>
                                        <!-- Campo de edición para teléfono -->
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="tel" name="edit_phoneClient" id="edit_phoneClient" pattern="-?[0-9+()- ]*(\.[0-9]+)?" value="{{ cliente.telefono }}">
                                            <label class="mdl-textfield__label" for="edit_phoneClient">Teléfono:</label>
                                            <span class="mdl-textfield__error">Número de Teléfono Inválido</span>
                                        </div>   
                                        <!-- Campo de edición para correo electrónico -->
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="email" name="edit_emailClient" id="edit_emailClient" value="{{ cliente.correo_electronico }}">
                                            <label class="mdl-textfield__label" for="edit_emailClient">Correo Electrónico:</label>
                                            <span class="mdl-textfield__error">Correo Electrónico Inválido</span>
                                        </div>                               
                                        <!-- Botón para guardar cambios -->
                                        <center><button type="submit">Guardar cambios</button></center>

                                    </form>                                         
                                    {% endfor %}
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>   
        function deleteClient(clienteId) {
            clienteId = parseInt(clienteId, 10);
            if (isNaN(clienteId) || !Number.isInteger(clienteId)) {
                swal.fire({
                    title: 'Error',
                    text: 'ID de cliente no válido.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
                return;
            }

            swal.fire({
                title: '¿Estás seguro?',
                text: 'Esta acción eliminará al cliente permanentemente. ¿Estás seguro de que deseas continuar?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/eliminar_cliente/${clienteId}`, { method: 'DELETE' })
                        .then(response => {
                            if (response.ok) {
                                swal.fire('¡Eliminado!', 'El cliente ha sido eliminado exitosamente.', 'success')
                                    .then(() => location.reload());
                            } else {
                                response.json().then(data => {
                                    swal.fire({
                                        title: 'Error',
                                        text: data.message || 'Hubo un problema al eliminar el cliente. Por favor, inténtalo de nuevo.',
                                        icon: 'error',
                                        confirmButtonText: 'OK'
                                    });
                                });
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            swal.fire({
                                title: 'Error',
                                text: 'Hubo un problema al eliminar el cliente. Por favor, inténtalo de nuevo.',
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        });
                }
            });
        }



        function showEditForm(clienteId) {
            // Ocultar todos los formularios de edición
            var editForms = document.querySelectorAll('[id^="editForm"]');
            editForms.forEach(function(form) {
                form.style.display = 'none';
            });
            
            // Mostrar el formulario de edición del cliente seleccionado
            var editForm = document.getElementById('editForm' + clienteId);
            if (editForm) {
                editForm.style.display = 'block';
            }
        }
            // Función para recargar la página y mostrar la alerta
            function reloadPageAndShowAlert() {
                // Mostrar la alerta utilizando SweetAlert
                swal.fire({
                    title: '¡Cliente actualizado con éxito!',
                    text: 'La información del cliente se ha modificado correctamente.',
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    // Verificar si el usuario hizo clic en "OK"
                    if (result.isConfirmed) {
                        // Recargar la página
                        location.reload();
                    }
                });
            }
            
            
            
        document.addEventListener("DOMContentLoaded", function() {
            // Obtener el icono de búsqueda
            var searchIcon = document.getElementById("searchIcon");
        
            // Agregar evento click al icono de búsqueda
            searchIcon.addEventListener("click", function() {
                // Obtener la barra de navegación
                var navigationBar = document.querySelector(".mdl-navigation");
        
                // Mostrar u ocultar la barra de navegación cambiando la clase CSS
                if (navigationBar.classList.contains("show-navigation")) {
                    // Si la barra de navegación está visible, ocultarla
                    navigationBar.classList.remove("show-navigation");
                } else {
                    // Si la barra de navegación está oculta, mostrarla
                    navigationBar.classList.add("show-navigation");
                }
            });
        });
            
        // Agregar evento submit al formulario de edición
        document.addEventListener("DOMContentLoaded", function() {
            var editForms = document.querySelectorAll('[id^="editForm"]');
            editForms.forEach(function(form) {
                form.addEventListener("submit", function(event) {
                    // Evitar que el formulario se envíe automáticamente
                    event.preventDefault();
                    
                    // Enviar el formulario manualmente utilizando Fetch API o AJAX
                    var formId = form.getAttribute("id");
                    var formData = new FormData(form);
                    fetch('/editar_cliente', {
                        method: 'POST',
                        body: formData
                    })
                    .then(function(response) {
                        // Verificar si la respuesta fue exitosa
                        if (response.ok) {
                            // Recargar la página y mostrar la alerta
                            reloadPageAndShowAlert();
                        } else {
                            // Mostrar mensaje de error si la respuesta no fue exitosa
                            swal.fire({
                                title: 'Error',
                                text: 'Hubo un problema al actualizar el cliente. Por favor, inténtalo de nuevo.',
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }
                    })
                    .catch(function(error) {
                        console.error('Error:', error);
                        // Mostrar mensaje de error en caso de error en la solicitud
                        swal.fire({
                            title: 'Error',
                            text: 'Hubo un problema al actualizar el cliente. Por favor, inténtalo de nuevo.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    });
                });
            });
        });
        
        document.getElementById("btn-addClient").addEventListener("click", function(event) {
            // Evita que el formulario se envíe automáticamente
            event.preventDefault();
    
            // Validar que todos los campos obligatorios estén llenos
            var dni = document.getElementById("DNIClient").value.trim();
            var nombre = document.getElementById("NameClient").value.trim();
            var apellido = document.getElementById("LastNameClient").value.trim();
            var direccion = document.getElementById("addressClient1").value.trim();
            var telefono = document.getElementById("phoneClient").value.trim();
            var email = document.getElementById("emailClient").value.trim();
    
            if (dni === "" || nombre === "" || apellido === "" || direccion === "" || telefono === "" || email === "") {
                // Mostrar mensaje de advertencia si algún campo está vacío
                swal.fire({
                    title: '¡Advertencia!',
                    text: 'Por favor completa todos los campos antes de agregar el cliente.',
                    icon: 'warning',
                    confirmButtonText: 'OK'
                });
            } else {
                // Mostrar confirmación y enviar el formulario si todos los campos están llenos
                swal.fire({
                    title: '¡Se guardó el cliente con éxito!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showCancelButton: false
                }).then((result) => {
                    // Envía manualmente el formulario solo si el usuario hizo clic en "OK"
                    if (result.isConfirmed) {
                        document.getElementById("clientForm").submit();  // Envía el formulario con JavaScript
                    }
                });
            }
        });

            document.addEventListener("DOMContentLoaded", function() {
                var secondaryActions = document.querySelectorAll(".mdl-list__item-secondary-action");
            
                secondaryActions.forEach(function(action) {
                    action.addEventListener("click", function(event) {
                        var updateOption = action.querySelector(".update-client-option");
                        var deleteOption = action.querySelector(".delete-client-option");
            
                        if (updateOption && event.target === updateOption) {
                            // Aquí redirige al usuario a la página de actualización del cliente
                            window.location.href = "/actualizar-cliente?id=" + clienteId;
                        } else if (deleteOption && event.target === deleteOption) {
                            // Aquí muestra un mensaje de confirmación antes de borrar el cliente
                            if (confirm("¿Estás seguro de que deseas borrar este cliente?")) {
                                // Aquí puedes hacer una solicitud para borrar el cliente del servidor
                            }
                        }
                    });
                });
            });  
                // Obtener el campo de teléfono
        var phoneInput = document.getElementById("phoneClient");
        phoneInput.addEventListener("keydown", function(event) {
            // Permitir solo números y teclas especiales como Backspace, Delete, Flechas, etc.
            if (!(event.key >= "0" && event.key <= "9") &&
                event.key !== "Backspace" &&
                event.key !== "Delete" &&
                event.key !== "ArrowLeft" &&
                event.key !== "ArrowRight" &&
                event.key !== "ArrowUp" &&
                event.key !== "ArrowDown" &&
                event.key !== "Tab" &&
                event.key !== "Home" &&
                event.key !== "End") {
                // Evitar la acción predeterminada si la tecla presionada no es un número o una tecla especial permitida
                event.preventDefault();
            }
        });
        // Obtener el campo de búsqueda
        var searchInput = document.getElementById("searchClient");

        // Obtener la lista de clientes
        var clientList = document.getElementsByClassName("mdl-list")[0];

        // Agregar evento keyup al campo de búsqueda
        searchInput.addEventListener("keyup", function(event) {
            // Obtener el valor del campo de búsqueda
            var searchTerm = event.target.value.toLowerCase();

            // Obtener todos los elementos de clientes
            var clients = clientList.getElementsByClassName("mdl-list__item");

            // Iterar sobre los elementos de clientes
            Array.from(clients).forEach(function(client) {
                // Obtener el contenido de cliente
                var clientContent = client.textContent.toLowerCase();

                // Mostrar u ocultar el cliente según el término de búsqueda
                if (clientContent.includes(searchTerm)) {
                    client.style.display = "block";
                } else {
                    client.style.display = "none";
                }
            });
        });
    </script>
    
    <footer>
        <p>&copy; 2024 StockManager JyE</p>
    </footer>
</main>
</body>
</html>
{% endblock %}
