{% extends "base.html" %}

{% block title %} Configuracion {% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>

</head>
<body>
    <div class="mdl-layout mdl-js-layout">
    
		<!-- Navegación -->
		<nav class="mdl-navigation">
			<button class="mdl-button mdl-js-button mdl-button--icon mdl-layout__drawer-button">
				<span class="gg-menu"></span>
			</button>
			<div style="flex-grow: 1; text-align: center; margin-top:10px;">
				<span style="font-family: 'Great Vibes', cursive; font-style: italic; font-size: 24px;">StockManager</span>
			</div>
			<a href="{{ url_for('logout') }}" style="margin-left: auto;"> 
				<i class="fas fa-sign-out-alt"></i> Salir
			</a>
		</nav>
		
		
		<div class="mdl-layout__drawer">
			
			<i class="mdi--user-tie"></i>
			<center><span class="mdl-layout-title" style="margin-bottom:10px;">{{ current_user.fullname }}</span></center>		
			<nav class="mdl-navigation">
				<a href="/home">Inicio</a><br>
				<br>
				<a href="/inventario">Inventario</a><br>
				<br>
				<a href="/productos">Productos</a><br>
				<br>
				<a href="/ventas">Ventas</a><br>
				<br>
				<a href="/proveedores">Proveedores</a><br>
				<br>
				<a href="/clientes">Clientes</a><br>
				<br>
				<a href="/configuracion">Configuracion</a><br>
			</nav>
		</div>
		<!-- Contenido principal -->
<main class="mdl-layout__content">

        <br>
        <center><h4>Configuracion General</h4></center>
        <center><section>
            <h2>Perfil de usuario</h2>
            <ol>
                <img src="Style/favicon.ico" alt="">
                <br>
                <br>
                <li>Nombre: Esteban Zambrano</li>
                <li>Rol: Administrador</li>
                <li>Fecha de nacimiento: 19/12/02</li>
                <li>E-mail: extep1983@gmail.com</li>
                <li>Telefono: +57 310-7981736</li>
            </ol>
        </section></center>
        <br>

        <section>
            <h2>Preferencias</h2>
            <ol>
                <button id="boton_volver" onclick="window.location.href='cambiarcontra.html'">Cambiar contraseña</button>
                <br>
                <br>
                <button id="boton_volver" onclick="window.location.href='cambiarusuario.html'">Cambiar nombre de usario</button>
                <br>
                <br>
                <button id="boton_volver" onclick="window.location.href='cambiaremail.html'">Modificar Correo electronico</button>
            </ol>
        </section>
    
        <section>
            <h2>Configuración de Seguridad</h2>
            <ol>
                <li>
                    <button id="boton_volver">Respaldo y Recuperación de Datos</button>
                </li>
            </ol>
        </section>
    </main>
    
<footer>
    <p>&copy; 2024 StockManager JyE</p>
</footer>
</body>
</html>

{% endblock %}