{% extends "base.html" %}

{% block title %} Configuracion {% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>

</head>
<body>
    <nav>
        <a href="/home">Inicio</a>
        <a href="/inventario">Inventario</a>
        <a href="/productos">Productos</a>
        <a href="/ventas">Ventas</a>
        <a href="/proveedores">Proveedores</a>
        <a href="/clientes">Clientes</a>
        <a href="/configuracion">Configuracion</a>
        <a href="{{ url_for('logout') }}"> 
            <i class="fas fa-sign-out-alt"></i> Salir
        </a>

    </nav>
    <main>
        <br>
        <center><h4>Configuracion General</h4></center>
        <center><section>
            <h2>Perfil de usuario</h2>
            <ol>
                <img src="Style/favicon.ico" alt="">
                <br>
                <br>
                <li>Nombre: Esteban Zambrano</li>
                <li>Rol: Administrador</li>
                <li>Fecha de nacimiento: 19/12/02</li>
                <li>E-mail: extep1983@gmail.com</li>
                <li>Telefono: +57 310-7981736</li>
            </ol>
        </section></center>
        <br>

        <section>
            <h2>Preferencias</h2>
            <ol>
                <button id="boton_volver" onclick="window.location.href='cambiarcontra.html'">Cambiar contraseña</button>
                <br>
                <br>
                <button id="boton_volver" onclick="window.location.href='cambiarusuario.html'">Cambiar nombre de usario</button>
                <br>
                <br>
                <button id="boton_volver" onclick="window.location.href='cambiaremail.html'">Modificar Correo electronico</button>
            </ol>
        </section>
    
        <section>
            <h2>Configuración de Seguridad</h2>
            <ol>
                <li>
                    <button id="boton_volver">Respaldo y Recuperación de Datos</button>
                </li>
            </ol>
        </section>
    </main>
    
<footer>
    <p>&copy; 2024 StockManager JyE</p>
</footer>
</body>
</html>

{% endblock %}