{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block body %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
    </head>
    <body style="background-color: white;">
        <div class="mdl-layout mdl-js-layout">
            <!-- Navegación -->
            <nav class="mdl-navigation">
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-layout__drawer-button" title="Cerrar Sesion">
                    <span class="gg-menu"></span>
                </button>
                <a id="logoutLink" href="{{ url_for('logout') }}" style="margin-left: auto;" title="Cerrar sesion"> 
                    <i class="fas fa-sign-out-alt"></i> Salir
                </a>
            </nav>
            <div class="mdl-layout__drawer">
                    <img 
                        src="{{ url_for('static', filename='images/SetecoManager.webp') }}" 
                        alt="SetecoManager Logo" 
                        class="logo-animado" style=" text-align: center;">
                <center><span class="mdl-layout-title" style="margin-bottom:10px;">{{ current_user.fullname }}</span></center>		
                <nav class="mdl-navigation">
                    <a href="/home">Inicio</a><br>
                    <br>
                    <a href="/productos">Productos</a><br>
                    <br>
                    <a href="/ventas">Ventas</a><br>
                    <br>
                    <a href="/proveedores">Proveedores</a><br>
                    <br>
                    <a href="/clientes">Clientes</a><br>
                    <br>
                </nav>
            </div>
            <!-- Contenido principal -->
            <main class="mdl-layout__content">
                <section id="funciones-clave" style="text-align: center; margin: 20px 0;">
                    <center>
                        <h2 class="titulo-bienvenida">Bienvenido, {{ current_user.fullname }}!</h2>
                    </center>
                    <div id="logo-enlaces-container" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 20px; margin: 20px 0;">
                        <div style="flex-basis: 100%; text-align: center;">
                            <a href="/productos" class="btn-enlace">Gestión de Productos</a>
                            <a href="/clientes" class="btn-enlace">Gestión de Clientes</a>
                            <a href="/ventas" class="btn-enlace">Registro de Ventas</a>
                            <a href="/proveedores" class="btn-enlace">Proveedores</a>
                        </div>
                    </div>
                </section>                
            <h3 class="text-center">Últimos Productos Vendidos</h3>
            {% if ultimas_ventas is not none and ultimas_ventas |length > 0 %}
                <!-- Sección de Últimos Productos Vendidos -->
                <section id="ultimos-productos">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Precio Producto</th>
                                    <th>Cantidad</th>
                                    <th>Monto</th>
                                    <th>Descripción</th>
                                    <th>Fecha / Hora</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for venta in ultimas_ventas %}
                                <tr>
                                    <td>{{ venta.nombre_producto }}</td>
                                    <td>${{ venta.precio_producto }}</td>
                                    <td>{{ venta.cantidad }}</td>
                                    <td>${{ venta.monto }}</td>
                                    <td>{{ venta.descripcion if venta.descripcion else "Sin descripción" }}</td>
                                    <td>{{ venta.fecha_venta }} / {{ venta.hora_venta }}</td>
                                </tr>                                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>                
                {%else%}
                     <center> <p class="no-clients-message">Aun no hay productos vendidos.</p> </center>
                {% endif %}                                                       
                <footer>
                    <p>&copy; 2024 StockManager JyE</p>
                </footer>
            </main>        
    </body>
</html>
{% endblock %}