{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block body %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body style="background-color: white;">
    <div class="mdl-layout mdl-js-layout">
    
		<!-- Navegación -->
		<nav class="mdl-navigation">
			<button class="mdl-button mdl-js-button mdl-button--icon mdl-layout__drawer-button">
				<span class="gg-menu"></span>
			</button>
			<a href="{{ url_for('logout') }}" style="margin-left: auto;"> 
				<i class="fas fa-sign-out-alt"></i> Salir
			</a>
		</nav>
		
		
		<div class="mdl-layout__drawer">
			
			<i class="mdi--user-tie"></i>
			<center><span class="mdl-layout-title" style="margin-bottom:10px;">{{ current_user.fullname }}</span></center>		
			<nav class="mdl-navigation">
				<a href="/home">Inicio</a><br>
				<br>
				<a href="/productos">Productos</a><br>
				<br>
				<a href="/ventas">Ventas</a><br>
				<br>
				<a href="/proveedores">Proveedores</a><br>
				<br>
				<a href="/clientes">Clientes</a><br>
				<br>
				<a href="/configuracion">Configuracion</a><br>
			</nav>
		</div>
		<!-- Contenido principal -->
<main class="mdl-layout__content">
        <section id="funciones-clave">

            <center><h2>Bienvenido, {{ current_user.fullname }}!</h2></center>
            <div class="funciones-enlaces">
                <a href="/productos">Gestión de Productos</a><br>
                <a href="/clientes">Gestión de Clientes</a><br>
                <a href="/ventas">Registro de Ventas</a><br>
                <a href="/reportes">Generar Reportes</a>
            </div>
        </section>

        <section id="actualizaciones-stock">
            <center><h2>Últimas Actualizaciones de Stock</h2></center>
            <ul>
                <Section><li>Camisetas: +218</li></Section>
                <Section><li>Pantalonetas: +300</li></Section>
                <Section> <li>Zapatos deportivos: -50</li></Section>
                <Section><li>Chaquetas: +80</li></Section>
                <Section><li>Vestidos: +120</li></Section>
                <Section><li>Gorras: +45</li></Section>
                <Section><li>Calcetines: +150</li></Section>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 StockManager JyE</p>
    </footer>
</body>
</html>
{% endblock %}