{% extends "base.html" %}

{% block title %} Inventario {% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
</head>
<body style="background-color: white;">
    <!-- Barra de navegación -->
    <div class="mdl-layout mdl-js-layout">
    
		<!-- Navegación -->
		<nav class="mdl-navigation">
			<button class="mdl-button mdl-js-button mdl-button--icon mdl-layout__drawer-button">
				<span class="gg-menu"></span>
			</button>
			<div style="flex-grow: 1; text-align: center; margin-top:10px;">
				<span style="font-family: 'Great Vibes', cursive; font-style: italic; font-size: 24px;">StockManager</span>
			</div>
			<a href="{{ url_for('logout') }}" style="margin-left: auto;"> 
				<i class="fas fa-sign-out-alt"></i> Salir
			</a>
		</nav>
		
		
		<div class="mdl-layout__drawer">
			
			<i class="mdi--user-tie"></i>
			<center><span class="mdl-layout-title" style="margin-bottom:10px;">{{ current_user.fullname }}</span></center>		
			<nav class="mdl-navigation">
				<a href="/home">Inicio</a><br>
				<br>
				<a href="/inventario">Inventario</a><br>
				<br>
				<a href="/productos">Productos</a><br>
				<br>
				<a href="/ventas">Ventas</a><br>
				<br>
				<a href="/proveedores">Proveedores</a><br>
				<br>
				<a href="/clientes">Clientes</a><br>
				<br>
				<a href="/configuracion">Configuracion</a><br>
			</nav>
		</div>
		<!-- Contenido principal -->
<main class="mdl-layout__content">

            <center><div class="titulo">INVENTARIO Y STOCK</div></center>
            <br>
            <section class="table-container">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                                    <th>Código</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for _ in range(7) %}
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Nombre del producto</td>
                                    <td>Código del producto</td>
                                    <td>7</td>
                                    <td>$77.000</td>
                                    <td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <!-- Pie de página -->
            <footer>
                <p>&copy; 2024 StockManager JyE</p>
            </footer>
        </main>
    </div>
</body>
</html>
{% endblock %}
