{% extends "base.html" %}

{% block title %} Cerrar sesion {% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body style="background-color: white;">
        <div class="mdl-layout mdl-js-layout">
    
            <!-- Navegación -->
            <nav class="mdl-navigation">
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-layout__drawer-button">
                    <span class="gg-menu"></span>
                </button>

                <a href="{{ url_for('logout') }}" style="margin-left: auto;"> 
                    <i class="fas fa-sign-out-alt"></i> Salir
                </a>
            </nav>
            
            
            <div class="mdl-layout__drawer">
                
                <i class="mdi--user-tie"></i>
                <center><span class="mdl-layout-title" style="margin-bottom:10px;">{{ current_user.fullname }}</span></center>		
                <nav class="mdl-navigation">
                    <a href="/home">Inicio</a><br>
                    <br>
                    <a href="/productos">Productos</a><br>
                    <br>
                    <a href="/ventas">Ventas</a><br>
                    <br>
                    <a href="/proveedores">Proveedores</a><br>
                    <br>
                    <a href="/clientes">Clientes</a><br>
                    <br>
                    <a href="/configuracion">Configuracion</a><br>
                </nav>
            </div>
         <div id="cerrarsesion" class="sweet-alert show-sweet-alert visible" style="display: block; width: 500px; padding: 20px; margin-left: -250px; margin-top: -186px; background: rgb(255, 255, 255);" tabindex="-1">
            <div class="icon error" style="display: none;">
                <span class="x-mark">
                    <span class="line left"></span>
                    <span class="line right"></span>
                </span>
            </div>
            <div class="icon warning pulse-warning" style="display: block;">
                <span class="body pulse-warning-ins"></span>
                <span class="dot pulse-warning-ins"></span>
            </div>
            <div class="icon info" style="display: none;"></div>
            <div class="icon success" style="display: none;">
                <span class="line tip"></span>
                <span class="line long"></span>
                <div class="placeholder"></div>
                <div class="fix"></div>
            </div>
            <img class="sweet-image" style="display: none;">
            <h2>Quiere cerrar sesion?</h2>
            <div class="sweet-content">
                <p>Se cierra sesion y sale del sistema</p>
            </div>
            <hr class="sweet-spacer" style="display: block;">
            <button id="exitButton" class="sweet-confirm styled" style="background-color: rgb(48, 133, 214); border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);">Salir</button>
            <button id="cancelButton" class="sweet-cancel styled" style="display: inline-block; background-color: rgb(170, 170, 170);">Cancelar</button>
        </div> </a>
    </nav>
</body>
</html>
{% endblock %}