{% extends "base.html" %}

{% block title %} Productos {% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body style="background-color: white;">
    <div class="mdl-layout mdl-js-layout">
    
        <!-- Navegación -->
        <nav class="mdl-navigation">
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-layout__drawer-button">
                <span class="gg-menu"></span>
            </button>
            <a id = "logoutLink" href="{{ url_for('logout') }}" style="margin-left: auto;"> 
                <i class="fas fa-sign-out-alt"></i> Salir
            </a>
        </nav>
        
        
        
        <div class="mdl-layout__drawer">
            
            <i class="mdi--user-tie"></i>
            <center><span class="mdl-layout-title" style="margin-bottom:10px;">{{ current_user.fullname }}</span></center>      
            <nav class="mdl-navigation">
                <a href="/home">Inicio</a><br>
                <br>
                <a href="/productos">Productos</a><br>
                <br>
                <a href="/ventas">Ventas</a><br>
                <br>
                <a href="/proveedores">Proveedores</a><br>
                <br>
                <a href="/clientes">Clientes</a><br>
                <br>
                <a href="/configuracion">Configuracion</a><br>
            </nav>
        </div>
        <!-- Contenido principal -->
        <main class="mdl-layout__content">
    
            <section>
                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                    <div class="mdl-tabs__tab-bar">
                        <a href="#tabNewProduct" class="mdl-tabs__tab is-active">Agregar Nuevo Producto</a>
                        <a href="#tabListProducts" class="mdl-tabs__tab">Lista de productos</a>
                    </div>
                    <div class="mdl-tabs__panel is-active" id="tabNewProduct">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                                <div class="full-width panel mdl-shadow--2dp">
                                    <div class="full-width panel-tittle bg-primary text-center tittles">
                                        Agregar producto
                                    </div>
                                    <div class="full-width panel-content">                                
                                        <form id="productForm" action="/producto" method="POST">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                            <div class="mdl-grid">
                                                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                        <input class="mdl-textfield__input" type="text" pattern="[A-Za-z0-9áéíóúÁÉÍÓÚ ]+" id="NameProduct" name="NameProduct" >
                                                        <label class="mdl-textfield__label" for="NameProduct">Nombre</label>
                                                        <span class="mdl-textfield__error">Nombre inválido</span>
                                                    </div>
                                                    <h5 class="text-condensedLight" style="margin-top: 80px;">Descripción</h5>
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                        <input class="mdl-textfield__input" type="text" pattern="[A-Za-z0-9áéíóúÁÉÍÓÚ ]+" id="Description" name="Description" >
                                                    </div>
                                                    
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                        <input class="mdl-textfield__input" type="text" pattern="\d+(\.\d{1,2})?" id="PriceProduct" name="PriceProduct" >
                                                        <label class="mdl-textfield__label" for="PriceProduct">Precio</label>
                                                        <span class="mdl-textfield__error">Precio inválido</span>
                                                    </div>
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                        <input class="mdl-textfield__input" type="number" pattern="\d+" id="StockProduct" name="StockProduct" >
                                                        <label class="mdl-textfield__label" for="StockProduct">Unidades</label>
                                                        <span class="mdl-textfield__error">Cantidad inválida</span>
                                                    </div>
                                                </div>                                                
                                                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">                                                    
                                                    <h5 class="text-condensedLight">Información y modelo</h5>
                                                    <div class="mdl-textfield mdl-js-textfield">                                                                                                                
                                                        <select class="mdl-textfield__input" id="ProviderProduct" name="ProviderProduct">
                                                            {% for proveedor in proveedores %}
                                                                <option value="{{ proveedor.id_proveedor }}">{{ proveedor.nombre_empresa }}</option>
                                                            {% endfor %}
                                                        </select>                                                                                                                                                                     
                                                    </div>                                                                                                                                                                                                       
                                                    <div class="mdl-textfield mdl-js-textfield">                                                        
                                                        <select class="mdl-textfield__input" id="CategoryProduct" name="CategoryProduct" >                                                                                                                                           
                                                            {% for categoria in categorias %} 
                                                            <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>                                                            
                                                            {% endfor %}

                                                            <h1>Hola mundo</h1>
                                                        </select>                                                            
                                                    </div>                                                                                                    
                                                    <h5 class="text-condensedLight">Fecha de ingreso del producto</h5>
                                                    <div class="mdl-textfield mdl-js-textfield">
                                                        <input type="date" class="mdl-textfield__input" id="IngresoProduct" name="IngresoProduct" >
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <p class="text-center">
                                                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addProduct">
                                                    <i class="zmdi zmdi-plus"></i>
                                                </button>
                                                <div class="mdl-tooltip" for="btn-addProduct" id="add">Añadir producto</div>
                                            </p>
                                        </form>                                                                               
                                    </div>                                               
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-tabs__panel" id="tabListProducts">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                                <div class="full-width panel mdl-shadow--2dp">
                                    <div class="full-width panel-tittle bg-success text-center tittles">
                                        Lista de clientes
                                    </div>
                                    <div class="full-width panel-content">
                                        <form action="#">
                                            <br>
                                            <br>
                                            <i class="zmdi zmdi-search" id="searchIcon"></i>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                                                <label class="mdl-button mdl-js-button mdl-button--icon" for="searchClient">
                                                </label>
                                                <div class="mdl-textfield__expandable-holder">
                                                    <input class="mdl-textfield__input" type="text" id="searchClient">
                                                    <label class="mdl-textfield__label"style="margin-left: 10px;">Buscar Producto</label>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="mdl-list">
                                            {% for producto in productos %}
                                            <div class="mdl-list__item mdl-list__item--two-line">
                                                <section class="cliente_tab" id="cliente_tab">
                                                <span>
                                                    <section>
                                                    <center><i class="zmdi zmdi-account mdl-list__item-avatar"></i></center>
                                                    <br>
                                                    <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;"> {{ producto.nombre }} </span>                                      
                                                    </section>
                                                    <section>
                                                    <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;">Descripción: {{ producto.descripcion }}</span>
                                                    <br>
                                                    <br>
                                                    <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;">Precio: {{ producto.precio }}</span>
                                                    <br>
                                                    <br>
                                                    <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;">Cantidad: {{ producto.stock }}</span>
                                                    </section>
                                                </section>                                                                                 
                                                </span>                                                           
                                            </div>
                                            <li class="full-width divider-menu-h"></li>                                   
                                            {% endfor %}
                                        </div>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>

        <!-- Pie de página -->
        <footer>
            <p>&copy; 2024 StockManager JyE</p>
        </footer>

    </div>

</body>
</html>
{% endblock %}
