{% extends "base.html" %}

{% block title %} Productos {% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Productos</title>
</head>
<body style="background-color: white;">
    <div class="mdl-layout mdl-js-layout">
        <!-- Navegación -->
        <nav class="mdl-navigation">
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-layout__drawer-button">
                <span class="gg-menu"></span>
            </button>
            <a id="logoutLink" href="{{ url_for('logout') }}" style="margin-left: auto;"> 
                <i class="fas fa-sign-out-alt"></i> Salir
            </a>
        </nav>    
        <div class="mdl-layout__drawer">
            <i class="mdi--user-tie"></i>
            <center><span class="mdl-layout-title" style="margin-bottom:10px;">{{ current_user.fullname }}</span></center>      
            <nav class="mdl-navigation">
                <a href="/home">Inicio</a><br>
                <br>
                <a href="/productos">Productos</a><br>
                <br>
                <a href="/ventas">Ventas</a><br>
                <br>
                <a href="/proveedores">Proveedores</a><br>
                <br>
                <a href="/clientes">Clientes</a><br>
                <br>
                <a href="/configuracion">Configuracion</a><br>
            </nav>
        </div>
        <!-- Contenido principal -->
        <main class="mdl-layout__content">    
            <section>
                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                    <div class="mdl-tabs__tab-bar">
                        <a href="#tabListProducts" class="mdl-tabs__tab is-active">Lista de productos</a>
                        <a href="#tabNewProduct" class="mdl-tabs__tab">Agregar Nuevo Producto</a>                        
                    </div>
                    <div class="mdl-tabs__panel is-active" id="tabListProducts">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                                <div class="full-width panel mdl-shadow--2dp">
                                    <div class="full-width panel-tittle bg-success text-center tittles">
                                        Lista de Productos
                                    </div>
                                    <div class="full-width panel-content">
                                        <form action="#">
                                            <br>
                                            <br>                                      
                                            <div>
                                                <center><h5>Buscar producto</h5></center>
                                                <i class="zmdi zmdi-search" id="searchIcon" style="position: absolute; right: 10px; top: 63%; "></i>
                                                <input class="mdl-textfield__input" type="text" id="searchProduct">                                           
                                                <label class="mdl-textfield__label" style="margin-left: 10px;"></label>
                                            </div> 
                                        </form>
                                    {% if productos|length == 0 %}
                                        <center> <p class="no-clients-message">Aún no hay productos, añade para visualizarlos</p> </center>
                                        {% else %}                                      
                                        <div class="mdl-list">
                                            {% for producto in productos %}                                                
                                            <div class="mdl-list__item mdl-list__item--two-line producto-item">
                                                <section class="cliente_tab" id="cliente_tab">
                                                <span>
                                                    <section>
                                                    <center><i class="zmdi zmdi-store mdl-list__item-avatar"></i></center>
                                                    <br>
                                                    <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;"> {{ producto.nombre }} </span>                                      
                                                    </section>
                                                    <section>
                                                    <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;">Descripción: {{ producto.descripcion }}</span>
                                                    <br>
                                                    <br>
                                                    <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;">Precio: {{ producto.precio }}</span>
                                                    <br>
                                                    <br>
                                                    <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;">Cantidad: {{ producto.stock }}</span>
                                                    </section>
                                                    <section>
                                                        <center>
                                                            <button class="mdl-button mdl-js-button mdl-button--icon" onclick="showEditProductModal('{{ producto.identificador_p }}','{{producto.nombre}}','{{producto.descripcion}}',
                                                            '{{producto.precio}}','{{producto.stock}}')">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>                                                          
                                                        <button class="mdl-button mdl-js-button mdl-button--icon" onclick="deleteOption('{{ producto.identificador_p }}')">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>                                                                                                                                             
                                                        <center>
                                                    </section>
                                                </section>                                                                                 
                                                </span>                                                           
                                            </div>
                                            <li class="full-width divider-menu-h"></li>                                   
                                            {% endfor %}
                                        </div>  
                                    {% endif %}                              
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-tabs__panel" id="tabNewProduct">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                                <div class="full-width panel mdl-shadow--2dp">
                                    <div class="full-width panel-tittle bg-primary text-center tittles">
                                        Agregar producto
                                    </div>
                                    <div class="full-width panel-content">                                
                                        <form id="productForm" action="/productos" method="POST">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                            <div class="mdl-grid">
                                                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                        <input class="mdl-textfield__input" type="text" pattern="[A-Za-z0-9áéíóúÁÉÍÓÚ ]+" id="NameProduct" name="NameProduct" >
                                                        <label class="mdl-textfield__label" for="NameProduct">Nombre</label>
                                                        <span class="mdl-textfield__error">Nombre inválido</span>
                                                    </div>                                                
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                        <input class="mdl-textfield__input" type="text" pattern="[A-Za-z0-9áéíóúÁÉÍÓÚ ]+" id="Description" name="Description" >
                                                        <label class="mdl-textfield__label" for="Description">Descripción</label>
                                                        <span class="mdl-textfield__error">Descripción inválida</span>
                                                    </div>
                                                    
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                        <input class="mdl-textfield__input" type="text" pattern="\d+(\.\d{1,2})?" id="PriceProduct" name="PriceProduct" >
                                                        <label class="mdl-textfield__label" for="PriceProduct">Precio</label>
                                                        <span class="mdl-textfield__error">Precio inválido</span>
                                                    </div>
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                        <input class="mdl-textfield__input" type="number" id="StockProduct" name="StockProduct" >
                                                        <label class="mdl-textfield__label" for="StockProduct">Unidades</label>
                                                        <span class="mdl-textfield__error">Cantidad inválida</span>
                                                    </div>
                                                </div>                                                
                                                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">                                                    
                                                    <h5 class="text-condensedLight">Información y modelo</h5>
                                                    <div class="mdl-textfield mdl-js-textfield">   
                                                        <label class="mdl-textfield__label" for="ProviderProduct"></label>                                                                                                            
                                                        <select class="mdl-textfield__input" id="ProviderProduct" name="ProviderProduct">                                                            
                                                            <option value="">Seleccionar proveedor</option>
                                                            {% for proveedor in proveedores %}
                                                                <option value="{{ proveedor.id_proveedor }}">{{ proveedor.nombre_empresa }}</option>
                                                            {% endfor %}
                                                        </select>                                                                                                                                                                     
                                                    </div>                                                                                                                                                                                                       
                                                    <div class="mdl-textfield mdl-js-textfield">              
                                                        <label class="mdl-textfield__label" for="CategoryProduct"></label>                                          
                                                        <select class="mdl-textfield__input" id="CategoryProduct" name="CategoryProduct" > 
                                                            <option value="">Seleccionar Categoria</option>                                                                                                                                          
                                                            {% for categoria in categorias %} 
                                                            <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>                                                            
                                                            {% endfor %}                                            
                                                        </select>                                                            
                                                    </div>                                                                                                    
                                                    <h5 class="text-condensedLight">Fecha de ingreso del producto</h5>
                                                    <div class="mdl-textfield mdl-js-textfield">
                                                        <input type="date" class="mdl-textfield__input" id="IngresoProduct" name="IngresoProduct" >
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <p class="text-center">
                                                <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addProduct">
                                                    <i class="zmdi zmdi-plus"></i>
                                                </button>
                                                <div class="mdl-tooltip" for="btn-addProduct" id="add">Añadir producto</div>
                                        </form>                                                                               
                                        </div>                                               
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </section>
        </main>
        <script>
function showEditProductModal(id, nombre, descripcion, precio, stock) {
    Swal.fire({
        title: 'Editar Producto',
        html: `                 
            <input id="edit_NameProduct" class="swal2-input" placeholder="Nombre del producto" value="${nombre}">
            <input id="edit_Description" class="swal2-input" placeholder="Descripcion" value="${descripcion}">
            <input id="edit_Price" type="number" class="swal2-input" placeholder="Precio" value="${precio}" step="0.01" min="0">
            <input id="edit_Stock" type="number" class="swal2-input" placeholder="Stock" value="${stock}" min="0">
            `,
        focusConfirm: false,
        preConfirm: () => {
            const name = document.getElementById('edit_NameProduct').value;
            const descripcion = document.getElementById('edit_Description').value;
            const precio = parseFloat(document.getElementById('edit_Price').value);
            const stock = parseInt(document.getElementById('edit_Stock').value);

            // Verificación para valores NaN o vacíos
            if (!name || !descripcion || isNaN(precio) || isNaN(stock)) {
                Swal.showValidationMessage('Por favor, completa todos los campos correctamente');
                return false;
            }

            // Llamada a la ruta de edición
            return fetch('/editar_producto', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                },
                body: new URLSearchParams({
                    producto_id: id,
                    edit_NameProduct: name,
                    edit_Description: descripcion,
                    edit_Price: precio,
                    edit_Stock: stock,
                })
            }).then(response => {
                if (!response.ok) {
                    throw new Error('Error al actualizar el Producto');
                }
                return response.json(); 
            });
        }
    }).then((result) => {
        if (result.isConfirmed) {
            if (result.value.success) {
                Swal.fire('Éxito', 'Producto actualizado correctamente', 'success').then(() => location.reload());
            } else {
                Swal.fire('Error', 'No se pudo actualizar el producto', 'error');
            }
        }
    }).catch(error => {
        Swal.fire('Error', error.message, 'error');
    });
}


        document.getElementById("btn-addProduct").addEventListener("click", function(event) {
            // Evita que el formulario se envíe automáticamente
            event.preventDefault();
    
            // Validar que todos los campos obligatorios estén llenos
            var nombreP = document.getElementById("NameProduct").value.trim();
            var Descripcion = document.getElementById("Description").value.trim();
            var Precio = document.getElementById("PriceProduct").value.trim();
            var Cantidad = document.getElementById("StockProduct").value.trim();
            var Proveedor = document.getElementById("ProviderProduct").value.trim();
            var Categoria = document.getElementById("CategoryProduct").value.trim();
            var Fecha = document.getElementById("IngresoProduct").value.trim();
    
            if ( nombreP === "" || Descripcion === "" || Precio === "" || Cantidad === "" || Proveedor === "" || Categoria === ""||Fecha === "") {
                // Mostrar mensaje de advertencia si algún campo está vacío
                swal.fire({
                    title: '¡Advertencia!',
                    text: 'Por favor completa todos los campos antes de agregar el producto.',
                    icon: 'warning',
                    confirmButtonText: 'OK'
                });
            } else {
                // Mostrar confirmación y enviar el formulario si todos los campos están llenos
                swal.fire({
                    title: '¡Se guardó el producto con éxito!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showCancelButton: false
                }).then((result) => {
                    // Envía manualmente el formulario solo si el usuario hizo clic en "OK"
                    if (result.isConfirmed) {
                        document.getElementById("productForm").submit();  // Envía el formulario con JavaScript
                    }
                });
            }
        });

            function getCSRFToken() {
                return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            }
            
            function deleteOption(productoId) {
                console.log('Producto ID:', productoId);  //línea para depuración
                swal.fire({
                    title: '¿Estás seguro?',
                    text: 'Esta acción eliminará el producto permanentemente. ¿Estás seguro de que deseas continuar?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sí, eliminar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch(`/eliminar_productos/${productoId}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': getCSRFToken()
                            }
                        })
                        .then(response => {
                            if (!response.ok) {
                                return response.json().then(data => {
                                    throw new Error(data.message || 'Error desconocido');
                                });
                            }
                            return response.json();
                        })
                        .then(data => {
                            swal.fire('¡Eliminado!', data.message, 'success')
                                .then(() => location.reload());
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            swal.fire({
                                title: 'Error',
                                text: error.message,
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        });
                    }
                });
            }

        document.getElementById('searchProduct').addEventListener('input', function () {
            const searchValue = this.value.toLowerCase();
            const clientItems = document.querySelectorAll('.producto-item');

            clientItems.forEach(function (clientItem) {
                const clientName = clientItem.querySelector('.mdl-list__item-sub-title').textContent.toLowerCase();
                if (clientName.includes(searchValue)) {
                    clientItem.style.display = '';
                } else {
                    clientItem.style.display = 'none';
                }
            });
        });
        </script>        
        <footer>
            <p>&copy; 2024 StockManager JyE</p>
        </footer>
    </div>
</body>
</html>
{% endblock %}
