{% extends "base.html" %}

{% block title %} Proveedores {% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedores</title>

</head>
<body>
    <div class="mdl-layout mdl-js-layout">
        <!-- Navegación -->
        <nav class="mdl-navigation">
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-layout__drawer-button" >
                <span class="gg-menu"></span>
            </button>
        <!-- Logout -->
        <a id="logoutLink" href="/logout" style="margin-left: auto;" title="Cerrar sesion">  
            <i class="fas fa-sign-out-alt"></i> Salir
        </a>        
        </nav>
        <div class="mdl-layout__drawer">
            <img 
                src="{{ url_for('static', filename='images/SetecoManager.webp') }}" 
                alt="SetecoManager Logo" 
                class="logo-animado" style=" text-align: center;">
        <center><span class="mdl-layout-title" style="margin-bottom:10px;">{{ current_user.fullname }}</span></center>		
        <nav class="mdl-navigation">
            <a href="/home">Inicio</a><br>
            <br>
            <a href="/productos">Productos</a><br>
            <br>
            <a href="/ventas">Ventas</a><br>
            <br>
            <a href="/proveedores">Proveedores</a><br>
            <br>
            <a href="/clientes">Clientes</a><br>
            <br>
        </nav>
    </div>
        <!-- Main Content -->
        <main class="mdl-layout__content">
            <section>
                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                    <div class="mdl-tabs__tab-bar">
                        <a href="#tabListProvider" class="mdl-tabs__tab is-active">Lista de Proveedores</a>
                        <a href="#tabNewProvider" class="mdl-tabs__tab ">Nuevo Proveedor</a>                  
                    </div>
                    <div class="mdl-tabs__panel" id="tabNewProvider">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                                <div class="full-width panel mdl-shadow--2dp">
                                    <div class="full-width panel-tittle bg-primary text-center tittles">
                                        Nuevo Proveedor
                                    </div>
                                    <div class="full-width panel-content">
                                        <form id="formProvider" action="/proveedor" method="POST">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                            <h5 class="text-condensedLight">Información del proveedor</h5>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input class="mdl-textfield__input" type="text" id="NameProvider" name="NameProvider">
                                                <label class="mdl-textfield__label" for="NameProvider">Nombre del proveedor</label>
                                                <span class="mdl-textfield__error">Nombres inválidos</span>
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input class="mdl-textfield__input" type="text" id="addressProvider" name="addressProvider">
                                                <label class="mdl-textfield__label" for="addressProvider">Dirección</label>
                                                <span class="mdl-textfield__error">Dirección inválida</span>
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input class="mdl-textfield__input" type="tel" id="phoneProvider" name= "phoneProvider">
                                                <label class="mdl-textfield__label" for="phoneProvider">Teléfono</label>
                                                <span class="mdl-textfield__error">Número de teléfono inválido</span>
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input class="mdl-textfield__input" type="email" id="emailProvider" name= "emailProvider">
                                                <label class="mdl-textfield__label" for="emailProvider">Correo electrónico</label>
                                                <span class="mdl-textfield__error">Correo electrónico inválido</span>
                                            </div>
                                            <p class="text-center">
                                                <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addProvider" name="btn-addProvider" title="Enviar">
                                                    <i class="zmdi zmdi-plus"></i>
                                                </button>
                                                <div class="mdl-tooltip" for="btn-addProvider">Añadir proveedor</div>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-tabs__panel is-active" id="tabListProvider">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                                <div class="full-width panel mdl-shadow--2dp">
                                    <div class="full-width panel-tittle bg-success text-center tittles">
                                        Lista de Proveedores
                                    </div>
                                    <div class="full-width panel-content">
                                        <div class="mdl-list">
                                            {% if proveedores | length == 0 %}
                                                <center><p class="no-clients-message">Aún no hay proveedores, añade para visualizarlos</p></center>
                                            {% else %}
                                                <div class="mdl-list-container">
                                                    {% for proveedor in proveedores %}
                                                        <section>
                                                            <div class="mdl-list__item mdl-list__item--two-line">
                                                                <span class="mdl-list__item-primary-content">
                                                                    <i class="zmdi zmdi-truck mdl-list__item-avatar"></i>
                                                                    <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;">
                                                                        Nombres: {{ proveedor.nombre_empresa }}
                                                                    </span>
                                                                    <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;">
                                                                        Dirección: {{ proveedor.direccion }}
                                                                    </span>
                                                                    <span class="mdl-list__item-sub-title" style="font-size: 14px; color: black;">
                                                                        Teléfono: {{ proveedor.telefono }}
                                                                    </span>
                                                                    <br>
                                                                </span>
                                                            </div>
                                                        </section>
                                                    {% endfor %}
                                                </div> <!-- Cierre del contenedor de la lista -->
                                            {% endif %}
                                        </div>                                        
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <script>
            document.getElementById("btn-addProvider").addEventListener("click", function(event) {
            // Evita que el formulario se envíe automáticamente
            event.preventDefault();
            // Validar que todos los campos obligatorios estén llenoss
            var nombre = document.getElementById("NameProvider").value.trim();
            var direccion = document.getElementById("addressProvider").value.trim();
            var telefono = document.getElementById("phoneProvider").value.trim();
            var email = document.getElementById("emailProvider").value.trim();
    
            if ( nombre === "" || direccion === "" || telefono === "" || email === "") {
                // Mostrar mensaje de advertencia si algún campo está vacío
                swal.fire({
                    title: '¡Advertencia!',
                    text: 'Por favor completa todos los campos antes de agregar el proveedor.',
                    icon: 'warning',
                    confirmButtonText: 'OK'
                });
            } else {
                // Mostrar confirmación y enviar el formulario si todos los campos están llenos
                swal.fire({
                    title: '¡Se guardó el proveedor con éxito!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showCancelButton: false
                }).then((result) => {
                    // Envía manualmente el formulario solo si el usuario hizo clic en "OK"
                    if (result.isConfirmed) {
                        document.getElementById("formProvider").submit(); 
                    }
                });
            }
        });
                document.addEventListener('DOMContentLoaded', function () {
                    const deleteButtons = document.querySelectorAll('.delete-button');
                    deleteButtons.forEach(button => {
                        button.addEventListener('click', function () {
                            const idProveedor = button.dataset.id;
                            fetch(`/proveedores/${idProveedor}`, {
                                method: 'DELETE'
                            }).then(response => {
                                if (response.ok) {
                                    // Recargar la página o realizar otras acciones si es necesario
                                    location.reload();
                                } else {
                                    console.error('Error al eliminar el proveedor');
                                }
                            }).catch(error => {
                                console.error('Error al eliminar el proveedor:', error);
                            });
                        });
                    });
                });


        // Obtener el campo de teléfono
        var phoneInput = document.getElementById("phoneProvider");
        phoneInput.addEventListener("keydown", function(event) {
            // Permitir solo números y teclas especiales como Backspace, Delete, Flechas, etc.
            if (!(event.key >= "0" && event.key <= "9") &&
                event.key !== "Backspace" &&
                event.key !== "Delete" &&
                event.key !== "ArrowLeft" &&
                event.key !== "ArrowRight" &&
                event.key !== "ArrowUp" &&
                event.key !== "ArrowDown" &&
                event.key !== "Tab" &&
                event.key !== "Home" &&
                event.key !== "End") {
                // Evitar la acción predeterminada si la tecla presionada no es un número o una tecla especial permitida
                event.preventDefault();
            }
        });

        // Obtener la lista de clientes
        var ProviderList = document.getElementsByClassName("mdl-list")[0];

        // Agregar evento keyup al campo de búsqueda
        searchInput.addEventListener("keyup", function(event) {
            // Obtener el valor del campo de búsqueda
            var searchTerm = event.target.value.toLowerCase();

            // Obtener todos los elementos de clientes
            var providers = providerList.getElementsByClassName("mdl-list__item");

            // Iterar sobre los elementos de clientes
            Array.from(providers).forEach(function(provider) {
                // Obtener el contenido de cliente
                var providerContent = provider.textContent.toLowerCase();

                // Mostrar u ocultar el cliente según el término de búsqueda
                if (providerContent.includes(searchTerm)) {
                    client.style.display = "block";
                } else {
                    client.style.display = "none";
                }
            });
        });
            </script>   
            <footer>
                <p>&copy; 2024 StockManager MyE</p>
            </footer>
        </main>
    </div>
</body>
</html>
{% endblock %}