<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>

</head>
<body>
    <nav class="mdl-navigation">
        <a href="/home">Inicio</a><br>
        <br>
        <a href="/productos">Productos</a><br>
        <br>
        <a href="/ventas">Ventas</a><br>
        <br>
        <a href="/proveedores">Proveedores</a><br>
        <br>
        <a href="/clientes">Clientes</a><br>
        <br>
        <a href="/configuracion">Configuracion</a><br>
    </nav>
    <footer>
        <p>&copy; 2024 StockManager JyE</p>
    </footer>