{% extends "base.html" %}

{% block title %} Productos {% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ventas</title>
</head>
<body>
    <nav>
        <a href="/home">Inicio</a>
        <a href="/inventario">Inventario</a>
        <a href="/productos">Productos</a>
        <a href="/ventas">Ventas</a>
        <a href="/proveedores">Proveedores</a>
        <a href="/clientes">Clientes</a>
        <a href="/configuracion">Configuracion</a>
        <a href="{{ url_for('logout') }}"> 
            <i class="fas fa-sign-out-alt"></i> Salir
        </a>

    </nav>

    <section class="table-container">
		<center><h4>Lista de ventas</h4></center>
		<div class="full-width divider-menu-h"></div>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">Fecha</th>
							<th>Cliente</th>
							<th>Pago</th>
							<th>Total</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">21/01/2024</td>
							<td>Nombre del Cliente</td>
							<td>Credito</td>
							<td>$77.000</td>
							<td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">21/01/2024</td>
							<td>Nombre del Cliente</td>
							<td>Credito</td>
							<td>$77.000</td>
							<td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">21/01/2024</td>
							<td>Nombre del Cliente</td>
							<td>Credito</td>
							<td>$77.000</td>
							<td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">21/01/2024</td>
							<td>Nombre del Cliente</td>
							<td>Credito</td>
							<td>$77.000</td>
							<td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
						</tr>
					</tbody>
			
				</table>
			</div>
		</div>
	</section>
	<section><button id="boton_vender" onclick="window.location.href='/facturar'">Vender</button></section>
	<section>
		<footer>
			<p>&copy; 2024 StockManager JyE</p>
		</footer>
	</section>

{% endblock %}