<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Style/Style.css">
    <link href="Style/favicon.ico" rel="icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/sweetalert2.css">
	<link rel="stylesheet" href="css/material.min.css">
	<link rel="stylesheet" href="css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="css/main.css">
	<script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
	<script src="js/material.min.js" ></script>
	<script src="js/sweetalert2.min.js" ></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js" ></script>
	<script src="js/main.js" ></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

</head>
<body>
    <nav>
        <a href="home.html">Inicio</a>
		<a href="inventario.html">Inventario</a>
        <a href="productos.html">Productos</a>
        <a href="ventas.html">Ventas</a>
		<a href="proveedores.html">Proveedores</a>
		<a href="clientes.html">Clientes</a>
        <a href="configuracion.html">Configuracion</a>
        <a href="logout.html">
            <i class="fas fa-sign-out-alt"></i> Cerrar sesión
        </a>
    </nav>

    <section>
		<center><h4>Lista de ventas</h4></center>
		<div class="full-width divider-menu-h"></div>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">Fecha</th>
							<th>Cliente</th>
							<th>Pago</th>
							<th>Total</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">21/01/2024</td>
							<td>Nombre del Cliente</td>
							<td>Credito</td>
							<td>$77.000</td>
							<td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">21/01/2024</td>
							<td>Nombre del Cliente</td>
							<td>Credito</td>
							<td>$77.000</td>
							<td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">21/01/2024</td>
							<td>Nombre del Cliente</td>
							<td>Credito</td>
							<td>$77.000</td>
							<td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">21/01/2024</td>
							<td>Nombre del Cliente</td>
							<td>Credito</td>
							<td>$77.000</td>
							<td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
						</tr>
					</tbody>
					<section>		<button id="boton_vender" onclick="window.location.href='facturar.html'">Vender</button>
					</section>
				</table>
			</div>
		</div>
	</section>

	<section>
		<footer>
			<p>&copy; 2024 StockManager JyE</p>
		</footer>
	</section>

