html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	position: relative;
	background-color: #ffffff;
}
.text-center{ text-align: center; }
.mdl-textfield{ width: 100%; }
.full-width{
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}
.list-unstyle{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
.img-responsive{
	width: 100%;
	height: auto;
}
.divider-menu-h{
	height: 0 !important;
	border-top: 1px solid #E1E1E1;
	width: 92% !important;
	margin: 0 auto !important;
}
.cover{
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	background-image: url(../assets/img/fontLogin.jpg);
}
.mdl-list__item-avatar{
	line-height: 40px;
	text-align: center;
	font-size: 30px;
}
.table-responsive{
	width: 100%;
	overflow-x: scroll;
	position: relative;
}
/*====== paneles*/
.panel{ height: auto; }
.panel-tittle{
	border-radius: 30px;
	height: 45px;
	display: block;
	line-height: 45px;
	color: #fff;
	font-size: 20px;
}
.panel-content{
	display: block;
	padding: 10px;
}
/*====== encabezados de paginas*/
.header-well,
.header-well-icon,
.header-well-text{
	min-height: 150px;
	height: auto;
}
.header-well{
	position: relative;
}
.header-well-icon,
.header-well-text{
	position: absolute;
	top: 0;
	color: #333;
}
.header-well-icon{
	left: 0;
	width: 25%;
}
.header-well-icon i,
.header-well-text p{
	position: absolute;
	top: 50%;
	display: block;
	width: 100%;
	transform: translateY(-50%);
}
.header-well-icon i{
	text-align: center;
	font-size: 60px;
}
.header-well-text{
	right: 0;
	width: 75%;
}
.header-well-text p{
	font-size: 20px;
	margin: 0;
	padding: 0;
}
/*====== Area de notificacion*/
.container-notifications{
    position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
    z-index: 997;
}
.container-notifications-bg{
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
}
.container-notifications-show{
	pointer-events: auto;
	opacity: 1;
}
.NotificationArea{
	box-sizing: border-box;
    background-color: #fff;
    height: 100%;
    width: 300px;
    top: 0;
    z-index: 999;
    right: -300px;
    transition: all .3s ease-in-out;
    position: absolute;
}
.NotificationArea-title{
	font-size: 21px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: #3F51B5;
    box-sizing: border-box;
}
.NotificationArea-title i{
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 45px;
    line-height: 45px;
    font-size: 25px;
    cursor: pointer;
}
.Notification,
.Notification-icon,
.Notification-text{
    margin: 0;
    padding: 0;
    height: 80px;
    box-sizing: border-box;
}
.Notification{
    position: relative;
    display: block;
    width: 300px;
    border-top: 1px solid #f3f3f3;
    color: #2b2b2c;
    font-size: 14px;
    transition: all .3s ease-in-out;
}
.Notification:hover{
	background-color: rgba(0,0,0,.07);
}
.Notification small{
    color: #BDBDBD;
}
.Notification-icon,
.Notification-text{
    position: absolute;
    top: 0;
}
.Notification-icon{
    width: 80px;
    left: 0;
    box-sizing: border-box;
}
.Notification-icon i{
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin-left: 15px;
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #D9534F;
    border-radius: 50%;
}
.Notification-text{
    width: 220px;
    right: 0;
}
.Notification-text p{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.NotificationArea-show{
    right: 0;
}
/*====== Backgrouns color*/
.bg-primary {
    background-color: rgba(7, 168, 231, 0.986) !important;
}
.bg-success {
    background-color: rgba(7, 168, 231, 0.986) !important;
}


.pageContent{
	padding-top: 45px;
	right: 0;
	width: 80%;
	z-index: 77;
	background-color: #fff;
	transition: all .3s ease-in-out;
}
.pageContent-change{
	width: 100%;
}
/*=====================================================
					Estilos home
======================================================*/
/*=============Azulejos o accesos directos(Tiles)*/
.tile{
	border: 1px solid #E1E1E1;
	height: 140px;
	width: 30%;
	margin: 0 1%;
	position: relative;
	transition: all .3s ease-in-out;
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 20px;
	display: inline-block;
}
.tile:hover .tile-text span{ color: #3F51B5; }
.tile:hover .tile-icon{
	color: rgba(0,191,238,.3);
	transform: scale(1.5) translate(-10px, -10px);
}
.tile-text{
	display: block;
	height: 140px;
	width: 100%;
	box-sizing: border-box;
}
.tile-text span,
.tile-icon{
	position: absolute;
	color: rgba(0,0,0,.3);
	transition: all .3s ease-in-out;
}
.tile-text span{
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	display: block;
	font-size: 27px;
	z-index: 2;
}
.tile-icon{
	bottom: 9px;
	right: 4px;
	font-size: 90px;
	line-height: 67px;
	z-index: 1;
}
/*=============Linea de tiempo (TimeLine)*/
.timeline-c{
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
}
.timeline-c::after {
  content: '';
  display: table;
  clear: both;
}
#timeline-c{
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#timeline-c::before{
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background-color: #3F51B5;
}
.timeline-c-box{
  position: relative;
  margin: 2em 0;
}
.timeline-c-box::after{
  content: "";
  display: table;
  clear: both;
}
.timeline-c-box:first-child {
  margin-top: 0;
}
.timeline-c-box:last-child {
  margin-bottom: 0;
}
.timeline-c-box-icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #ffffff;
}
.timeline-c-box-icon i{
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 25px;
  text-align: center;
  position: relative;
}
.timeline-c-box-content{
  position: relative;
  margin-left: 60px;
  border-radius: 0.25em;
  padding: 1em;
  background-color: #fff;
  color: #333;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  border-radius: 5px;
}
.timeline-c-box-content::after{
  content: "";
  display: table;
  clear: both;
}
.timeline-c-box-content::before{
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 9px solid #E1E1E1;
}
.timeline-c-box-content .timeline-date{
  display: inline-block;
  color: rgb(119,119,119);
}
.timeline-c-box-content p{
  margin: 1em 0;
  line-height: 1.6;
}
.timeline-c-box-content .timeline-date{
  float: left;
  padding: .8em 0;
}
/*=====================================================
					Estilos products
======================================================*/
.menu-categories ul li{
	display: inline-block;
	margin: 5px 7px;
}
.menu-categories ul li a{
	text-decoration: none;
	font-size: 19px;
}
.product-card{
	display: inline-block;
	margin: 5px;
	width: 300px;
	text-align: left;
}
.product-card .mdl-card__actions button,
.product-card .mdl-card__actions a{
	float: right;
}


/*Phone*/
@media (max-width: 479px){
	.hide-on-phone{
		width: 0;
		height: 0;
		pointer-events: none;
		opacity: 0;
	}
	.visible-on-phone{
		pointer-events: auto;
		opacity: 1;
	}
	.visible-on-tablet,
	.visible-on-desktop{
		pointer-events: none;
		opacity: 0;
		width: 0;
		height: 0;
	}
	.header-well-icon,
	.header-well-text{
		position: relative;
		display: block;
		width: 100%;
		text-align: center;
	}
	
	.pageContent{
		width: 100%;
	}
	.tile{
		width: 97%;
	}
	.product-card{
		width: 100%;
		margin: 0;
	}
}
/*Tablet*/

/*Desktop*/
@media (min-width: 840px){
	.hide-on-desktop{
		width: 0;
		height: 0;
		pointer-events: none;
		opacity: 0;
	}
	.visible-on-desktop{
		pointer-events: auto;
		opacity: 1;
	}
	.visible-on-tablet,
	.visible-on-phone{
		pointer-events: none;
		opacity: 0;
		width: 0;
		height: 0;
	}
	/*======= Estilos linea de tiempo (TimeLine) en desktop*/
	#timeline-c{
		margin-top: 3em;
		margin-bottom: 3em;
	}
	#timeline-c::before{
		left: 50%;
		margin-left: -2px;
	}
	.timeline-c-box{
		margin: 4em 0;
	}
	.timeline-c-box:first-child{
		margin-top: 0;
	}
	.timeline-c-box:last-child{
		margin-bottom: 0;
	}
	.timeline-c-box-icon{
		left: 50%;
		margin-left: -23px;
	}
	.timeline-c-box-content{
		margin-left: 0;
		width: 45%;
	}
	.timeline-c-box-content::before{
		top: 24px;
		left: 100%;
		border-color: transparent;
		border-left-color: #E1E1E1;
	}
	.timeline-c-box-content .timeline-date{
		position: absolute;
		width: 100%;
		left: 122%;
		top: 6px;
	}
	.timeline-c-box:nth-child(even) .timeline-c-box-content{
		float: right;
	}
	.timeline-c-box:nth-child(even) .timeline-c-box-content::before {
		top: 24px;
		left: auto;
		right: 100%;
		border-color: transparent;
		border-right-color: #E1E1E1;
	}
	.timeline-c-box:nth-child(even) .timeline-c-box-content .timeline-date {
		left: auto;
		right: 122%;
		text-align: right;
	}
}