@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: rgb(53, 53, 53);
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.page {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 60%;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(70% - 40px);
  top: 20px;
  position: relative;
  width: 40%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.crearcuenta{
  font-size: x-small;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.volver{
  font-size: x-small;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.registro{
  font-size: 30px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.login {
  font-size: 40px;
  font-weight: 500;
  margin: 30px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}

.register {
  background: #008cff;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  height: 130%;
  width: 100%;
  margin-top: -85px; 
  border-radius: 15px;
}


.right {
  background: #008cff;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  height: 85%;
  width: 70%;
  margin-top: -25px;
  border-radius: 15px;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #000000;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #ffffff;
  margin-top: 40px;
  transition: color 300ms;
  position:left;
}
#submit:focus {
  color: rgb(10, 30, 95);
}
#submit:active {
  color: #006dd3;
}

section {
  background-color: #ffffff; 
  color: #000000; 
  padding: 20px; 
  border-radius: 8px; 
  margin-bottom: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

section h2 {
  font-size: 24px; 
  margin-bottom: 15px; 
}

section ul {
  list-style-type: none; 
  padding: 0; 
}

section ul li {
  font-size: 16px; 
  margin-bottom: 5px; 
}


.header-content {
  display: flex;
  align-items: center; 
}

h1 {
  margin-right: 20px; 
}

.logo {
  max-width: 200px; 
}

nav {
  background-color: #0066ff;
  z-index: 2;
  border-bottom: 1px solid #000000;
  white-space: nowrap; /* Evita el salto de línea */
  -webkit-overflow-scrolling: touch; /* Desplazamiento suave en dispositivos iOS */
}

nav a {
  display: inline-block; /* Cambia a display inline-block */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  color: rgba(7, 168, 231, 0.986);
}

.content {
  margin-left: 170px; 
  padding: 20px;
  z-index: 0; 
}

.button {
  background-color: #2D2F36;
  
}

#generar-producto {
  margin-top: 30px;
}

#generar-producto h2 {
  color: #2D2F36;
}

#generar-producto form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #4d4d4d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#generar-producto label {
  display: block;
  margin-bottom: 8px;
  color: #000000;
}

#generar-producto input,
#generar-producto textarea,
#generar-producto button {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

#generar-producto button {
  background-color: #f5f5f5;
  color: rgb(43, 31, 31);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#generar-producto button:hover {
  background-color: #1E2027;
}

#lista-productos {
  margin-top: 30px;
}

#lista-productos h2 {
  color: #2D2F36;
}

#lista-productos ul {
  list-style: none;
  padding: 0;
}

#lista-productos li {
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#lista-productos li h3 {
  color: #2D2F36;
}

#lista-productos li p {
  color: #777777;
}

#lista-proveedores li {
  background-color: #272e6d;
  margin-right: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#lista-proveedores li:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

#lista-proveedores li.fade-in {
  opacity: 1;
  transform: translateY(0);
}

#boton_volver {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #545864;
  color: #fff;
  border: 2px solid #545864;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#boton_volver:hover {
  background-color: #545864;
  color: #fff;
}
.funciones-enlaces {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.funciones-enlaces a {
  display: block;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: #333;
  background-color: #f5f5f5; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  transition: background-color 0.3s, color 0.3s; 

}

.funciones-enlaces a:hover {
  background-color: #3498db; 
  color: #fff; 
}

		#boton_vender {
			background-color: #3498db; 
			color: #fff; 
			padding: 10px 20px; 
			font-size: 16px; 
			border: none; 
			border-radius: 5px; 
			cursor: pointer; 
			transition: background-color 0.3s; 
		}
		
		#boton_vender:hover {
			background-color: #2980b9; 
		}

    /* Estilos base para el formulario de facturación */
#formulario-facturacion {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los campos de entrada y etiquetas */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 21px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-sizing: border-box;
}

/* Estilos para el botón de facturar */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilos para la tabla de detalles de productos/servicios */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 8px;
  border: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

/* Estilos para el botón de agregar producto */
#agregar-producto {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

#agregar-producto:hover {
  background-color: #007bff;
}

@media (max-width: 768px) {
  #formulario-facturacion {
      padding: 10px;
  }


  table {
      font-size: 14px;
  }

  button[type="submit"],
  #agregar-producto {
      padding: 8px 16px;
      font-size: 14px;
  }
}


h3 {
  font-size: 24px; 
  font-weight: bold; 
  color: #333; 
  margin-bottom: 10px; 
}
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

#chat-container {
  width: 1200px;
  margin: auto;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

#chat-area {
  height: 200px;
  overflow-y: scroll;
  margin-bottom: 10px;
  border: 1px solid #aaa9a9;
  border-radius: 10px;
  padding: 10px;
}

#user-input {
  width: calc(100% - 70px);
  margin-right: 10px;
  color: #F1F1F2;
}

.body-ia{
  background-image: url('azuldegradado.jpg');
  background-size: cover; 
  background-position: center; 
}
.custom-color{
  color: #F1F1F2;
}

#cedula {
  color: #000000; 

  background-color: rgba(245, 245, 245, 0.9);
}

.option {
  color: #000000;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
  -webkit-overflow-scrolling: touch; 
}

.titulo {
  text-align: center; 
  font-size: 20px; 
  font-weight: bold; 
  letter-spacing: 0.5px; 
  color: #000000;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.mdi--account-edit {
  content: "Editar cliente";
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m21.7 13.35l-1 1l-2.05-2.05l1-1a.55.55 0 0 1 .77 0l1.28 1.28c.21.21.21.56 0 .77M12 18.94l6.06-6.06l2.05 2.05L14.06 21H12zM12 14c-4.42 0-8 1.79-8 4v2h6v-1.89l4-4c-.66-.08-1.33-.11-2-.11m0-10a4 4 0 0 0-4 4a4 4 0 0 0 4 4a4 4 0 0 0 4-4a4 4 0 0 0-4-4'/%3E%3C/svg%3E");
  background-color: black;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}


.mdi--user-tie {
  display: inline-block;
  width: 4em;
  margin-left: 35%;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 4em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 3c2.21 0 4 1.79 4 4s-1.79 4-4 4s-4-1.79-4-4s1.79-4 4-4m4 10.54c0 1.06-.28 3.53-2.19 6.29L13 15l.94-1.88c-.62-.07-1.27-.12-1.94-.12s-1.32.05-1.94.12L11 15l-.81 4.83C8.28 17.07 8 14.6 8 13.54c-2.39.7-4 1.96-4 3.46v4h16v-4c0-1.5-1.6-2.76-4-3.46'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.gg-menu {
  transform: scale(var(--ggs, 1));
  position: relative;
  text-align: center; /* Añadido para centrar horizontalmente el contenido */
}

.gg-menu,
.gg-menu::after,
.gg-menu::before {
  margin-left: auto; /* Cambiado para centrar horizontalmente */
  margin-right: auto; /* Cambiado para centrar horizontalmente */
  margin-bottom: 40%;
  box-sizing: border-box;
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background: currentColor;
}

.gg-menu::after,
.gg-menu::before {
  content: "";
  position: absolute;
  top: -6px;
}

.gg-menu::before {
  left: 50%; 
  transform: translateX(-50%); 
}

.gg-menu::after {
  left: 50%; 
  top: 6px;
  transform: translateX(-50%); 
}

@font-face {
  font-family: 'Dancing Script';
  src: url('src/static/fonts/GreatVibes-Regular.ttf') format('truetype');
}


.añadir_users{
  background-color: #007bff;
  color: #000;
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}